VITE_COMETCHAT_APP_ID=1676971e9577630c1
VITE_COMETCHAT_REGION=us
VITE_COMETCHAT_AUTH_KEY=3e505052063e2ab0876a3ddcd97800fe1a2ece59
VITE_COMETCHAT_FACULTY_UID=cometchat-uid-2
VITE_COMETCHAT_PANELIST_UID=cometchat-uid-3
VITE_API_BASE_URL=http://127.0.0.1:4000
